.outer {
  position: relative;
  width: 480px;
  height: 480px;
  margin: auto;
  padding: 0px;
  border: 0px;
}
.roundBtnRow {
  padding: 0px;
  margin: 0px;
  width: 480px;
}
.roundBtn {
  display: block;
  float:left;
  padding: 0px;
  margin: 0px;
  width: 240px;
  height: 240px;
  z-index: 1;
}
.redBtn {
  background-color: #ff0000;
  border-top-left-radius: 100%;

}
.greenBtn {
  background-color: #00ff00;
  border-top-right-radius: 100%;

}
.blueBtn {
  background-color: #0000ff;
  border-bottom-left-radius: 100%;

}
.yellowBtn {
  background-color: #ffff00;
  border-bottom-right-radius: 100%;

}
.centerRegion {
  position: absolute;
  width: 240px;
  height: 240px;
  background-color: #555555;
  top: 25%;
  left: 25%;
  z-index: 3;
  border-radius: 50%;
}
#SimonTitle{
  text-align: center;
  margin-top: 80px;
  font-size: 24px;
}